/* NAV && FOOTER*/
.header-social-links {
  margin-top: 10px;
  display: flex !important;
  font-size: 30px;
  justify-content: center;
}

.fw-bold{
  font-size: 28px !important;
}

.twitter {
  height: 50px;
  width: 50px;
  padding: 2px;
  padding-left: 5px;
  color: #00acee !important;
  margin-right: 5px;
}

.instagram {
  height: 50px;
  width: 50px;
  color: #962fbf !important;
  margin-right: 5px;
}

.linkedin {
  height: 50px;
  width: 50px;
  padding-left: 4px;
  margin-right: 5px;
  color: #0A66C2 !important;
}

@media (max-width: 992px) {
  .header-social-links {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main {
    margin-left: 10px;
  }

  .me-auto {
    margin-left:0px!important;
  }
  #hero h2{
    margin-top:15px !important;
    font-size: 18px !important;
  }
}
.me-auto {
  margin-left: 580px;
}

.nav-link {
  margin-left: 25px;
  font-weight: 650 !important;
}

.nav-link.active {
  color: rgb(229, 12, 12) !important;
}

/* HOME */
.boyImg{
  margin-top: 13px;
  height: 550px;
  width:560px ;
}

#hero {
  width: 100%;
  height: 91vh;
}

#hero .container {
  position: relative;
}

@media (max-width: 992px) {
  #hero{
    height: 33vh;
  }
  .boyImg{
    height: 450px;
    width:100%;
  }
  #hero .container{
    margin-top: 50px !important;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #211313;
}

#hero h2 {
  color: #e6133d;
  margin: 10px 0 0 0;
  font-size: 22px;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

#hero .btn-about {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #c1111c;
}

#hero .btn-about:hover {
  background: #c1111c;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 1s ease-in-out;
}

/* ABOUT */
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #555555;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #c1111c;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.btn-about {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: #c1111c;
}

.btn-about:hover {
  color: white;
}

@keyframes example {
  from {
    right: 100px;
  }

  to {
    right: 0;
  }
}

.animated-element {
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

@keyframes example2 {
  from {
    left: 100px;
  }

  to {
    left: 0;
  }
}

.animated-element1 {
  position: relative;
  animation-name: example2;
  animation-duration: 3s;
  animation-fill-mode: backwards;
}